{% extends 'base.html' %}

{% block title %}Customer Login{% endblock %}

{% block content %}
<style>
    .errorlist {
        color: red;
    }

    .grid-box{
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-gap: 3vh;
    }

    #id_username, #id_password, #id_email, #id_full_name, #id_address{
        background-color: #e0e0e0;
        border: 2px #c9c9c9 solid;
        border-radius: 15px;
        padding: 2px;
    }
    #id_username:hover, #id_password:hover, #id_email:hover, #id_full_name:hover, #id_address:hover{
        background-color: #d6d3d3;
    }

    #id_username:focus, #id_password:focus, #id_email:focus, #id_full_name:focus, #id_address:focus{
        outline: 2px #d6d3d3 solid;
    }

    .icon{
        display: flex;
        justify-content: center;
    }

</style>
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <!-- <center><h3>Customer Login Form</h3></center> -->
            <!-- <hr> -->
            <div class="icon">
                <lord-icon
                    src="https://cdn.lordicon.com/dxjqoygy.json"
                    trigger="loop"
                    delay="1000"
                    colors="primary:#3fa7d6,secondary:#707070"
                    style="width:250px;height:250px">
                </lord-icon>
            </div>
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="grid-box">
                    <label for="id_username">Username</label>
                    {{form.username}}
                    <label for="id_password">Password</label>
                    {{form.password}}
                </div>
                <br>
                <center>
                    <button class="btn btn-dark">Login as a Customer</button>
                    {% if error %}
                    <br>
                    <li style="color: red;">{{error}}</li>
                    {% endif %}
                </center>
            </form>
            <br>
            <center><p>Forgot Password?<a href="{% url 'ecomapp:passworforgot' %}">Reset now.</a></p></center>
            <center><p> Or Don't Have an Account? <a href="{% url 'ecomapp:customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Register here</a></p></center>
            <br>
        </div>
    </div>
</div>
{% endblock %}